@import "vars"


/*==========  Desktop First  ==========*/

// ≤1200px
+media-breakpoint-down(lg)

// ≤992px
+media-breakpoint-down(md)
    .carousel-caption
        .carousel-title
            h1
                font-size: 35px
    .map
        &-filter
            .d-flex
                flex-direction: column
                input
                    width: 100%
                select
                    width: 100%
                    float: left
                a
                    display: block
                    text-align: center
        &-country
            flex-direction: column
            &-list
                width: 50%
                float: left
                li
                    text-align: center
                    width: 100%
                    display: block
    // .w-100-toggle
    //     width: 100%!important
    // .content-1-plan-size
    //     font-size: 80px
    //     span
    //         font-size: 60px
    // .content-1-plan-title
    //     margin-top: 15px

// ≤768px
+media-breakpoint-down(sm)
    .carousel-caption
        .carousel-title
            h1
                font-size: 28px
            .red-element
                width: 40px
                height: 3px
    .ptw
        flex-direction: column	
        .item
            margin-top: 15px
            margin-bottom: 15px
            text-align: center
    .ordered-block
        -webkit-box-ordinal-group: 14
        order: 13
    .user
        .d-flex
            flex-direction: column
    .buy-link-red
        font-size: 18px


// ≤576px
+media-breakpoint-down(xs)
    .navbar-brand
        img
            width: 100px
    .carousel-caption
        .carousel-title
            h1
                font-size: 18px
    .content-1-plan-title
        margin-top: 15px
    .content-1-plan-size
        font-size: 90px
        span
            font-size: 60px
    .content-1-plan-price
        font-size: 18px
        span
            font-size: 24px
    .content-1-plan
        .unlim-px-5
            padding: 0
    .h2a
        .d-flex
            flex-direction: column
            .link
                display: block
                width: 100%
    // .w-100-toggle
    //     flex-direction: column
    //     .flex-item
    //         width: 100%!important
    // .media-w-100
    //     width: 100%!important


/*==========  Mobile First  ==========*/

// ≥576px
+media-breakpoint-up(sm)

// ≥768px
+media-breakpoint-up(md)
    .carousel-indicators
        li
            width: 50px
            height: 4px
            margin-right: 10px
            margin-left: 10px

// ≥992px
+media-breakpoint-up(lg)

// ≥1200px
+media-breakpoint-up(xl)
    // .login
    //     .container
    //         max-width: 1140px
